@font-face {
    font-family: "My Custom Font";
src: url(fonts/TAN-MONCHERI.ttf);
}

h1 {
    font-family: "My Custom Font";
}

body {
background-color: #fcf9f2;
}

body::before {
    content: "XS";
    font-size: 1.5rem;
    position: fixed;
    color: black;
  }

  /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    body::before {
      content: "S";
    }
  }
  
  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    body::before {
      content: "M";
    }
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* // Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    body::before {
      content: "L";
    }
  }
  
  /* // X-Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  /* // XX-Large devices (larger desktops, 1400px and up) */
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }
  